doctype html
html
  head
    title= title
    // Font Awesome CDN Steam Icon
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    // Compiled CSS
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    block content
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
    script(type='text/javascript', src='/javascripts/build/app.js')
