@import "../../libraries/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../../libraries/perfect-scrollbar/css/perfect-scrollbar";
$blue-black: #34495e;
$light-green: #39d1b4;
$dark-green: #2dbfa2;
@media (min-width: 768px) {
  .nav-link,
  .nav-link>a {
    height: 100%!important;
  }
}
#nav {
  background: #fff;
  margin-bottom: 30px;
}
.nav-link>a {
  font-size: 17px;
  color: $blue-black!important;
  webkit-transition: 0.30s ease-in-out;
  transition: 0.30s ease-in-out;
}
.nav-link>a:hover {
  color: $light-green!important;
}
.navbar .navbar-collapse {
  text-align: center;
}
#brand {
  font-size: 35px;
  color: $blue-black;
}
@media (min-width: 768px) {
  .navbar-right>li>a {
    height: 45px;
  }
}
i {
  margin-right: 5px;
}
canvas {
  border-radius: 120px;
  margin-bottom: 25px;
  margin-top: 5px;
}
#page-container {
  width: 100%;
}
#center-nav {
  font-size: 16px;
}
.skin-image {
  width: 150px;
  height: 150px;
  margin: -20px 30px 0;
}
.skin-name {
  text-align: center;
  margin-top: 0;
}
.deposited-picture {
  float: left;
}
.row-picture,
.row-picture>.circle {
  width: 45px!important;
  height: 45px!important;
}
.row-picture {
  padding-right: 0px!important;
  margin-right: 16px;
}
.row-content {
  min-height: 45px!important;
}
.list-group-item-heading {
  vertical-align: middle;
  line-height: 25px!important;
  margin-top: 10px;
}
#game-panel {
  max-height: 650px;
  overflow: auto;
}
#game-panel>.panel-heading {
  background: $dark-green;
}
#pbar-info {
  color: #14a1ff;
  text-align: center;
}
#num-skins {
  font-size: 100px;
}
#skins-word {
  font-size: 50px;
}
@media (max-width: 767px) {
  #skin-panel {
    width: 100%;
  }
}
.username-bold {
  font-weight: bold;
}
button {
  color: #000;
}
#skin-panel-body {
  padding: 0 15px;
  display: flex;
  overflow: auto;
}
.transform-col {
  animation: pagesnap 1.5s 1;
}
@keyframes pagesnap {
  0% {
    transform: translateY(1080px);
  }
  100% {
    transform: translateY(0px);
  }
}
